DATABASE_URL="mysql://root:password@localhost:3306/miniFeedsDB"
APP_NAME="Mini Feeds API"
HOST=0.0.0.0
PORT=3000
JWT_SECRET="supersecret"
NODE_ENV=development
FIREBASE_SERVICE_ACCOUNT='{"type"": "service_account", ...}'